/* PRESENTATION SECTION */

#presentation {
    padding-top: 100px;
    padding-bottom: 80px;
  
    background-size: 100%;
    display: flex;
    justify-content: center;
  }
  
  #presentation-inner {
    display: flex;
    gap: 4rem;
    justify-content: center;
    align-items: center;
    align-content: center;
    max-width: 70%;
  }
  
  #presentation-box .buy-button {
    width: 300px;
  }
  
  #presentation-text h2 {
    font-size: 32px;
  }
  
  #presentation-text p {
    font-size: 17px;
  }
  
  #presentation-text {
    padding: 20px;
    border-radius: 10px;
    background-color: #ffffff80;
    border-right: 2px solid #09002a;
    flex-direction: column;
    display: flex;
    gap: 20px;
    height: auto;
    width: 600px;
  }
  
  #presentation-box {
    display: flex;
    flex-direction: column;
    gap: 40px;
  }
  