#form-section{
    display: flex;
    justify-content: center;
    align-items: center;
   

}

#form-box{
   display: flex;
   flex-direction: column;
   border-radius: 12px;
   justify-content: center;
   align-items: center;
   justify-items: center;
   padding: 20px;
   background-color: #d2fcaf ;
   gap: 20px;
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}   

#form-itens{
    display: flex;
    flex-direction: column;
    gap: 10px;

}


#form-box h1{
    text-transform: uppercase;
    font-size: 18px;
    letter-spacing: 2px;
}
