#stats-box p{
    color: #fff;
}

#stats-box{
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 200px;
    align-items: center;
}

#stats-itens{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

#stats-itens span{
    background-color: #fff;
    padding: 5px;
    border-radius: 5px;
    color: #08100c;
}

#stats-box h4{

    border-bottom: 1px solid  #13772045;
    padding-bottom: 21px;
    text-align: left;
}

#counter{
    display: flex;
    gap: 10px;
    justify-content: space-around;
}